* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none ;
}

button {
    height:3.25rem;
    width: 7rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--blueButton);
    border-style: none;  
}


:root {
    --midTextColor: rgb(122, 121, 121);
    --blueText: rgba(32, 109, 209, 0.925);
    --blueButton: rgb(53, 112, 241);
}

body {
    margin: 0;
}

.page-container {
    position: relative;
    height: 100vh;
    
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 2rem;
}

.sub-section-container {
    display: flex;
    flex-wrap: wrap;
    width:70%;
    justify-content: space-between;
}


/* ////////////////////////////////////// */
.first-second-section {
    background-image: url("saas-project-assets/project_logo/topSection.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 45rem;
    width: 100%;
}

.sticky {
    position:fixed;
    top: 0;
    background-color: white;
    align-self:baseline;
  }
  
.header-nav {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 0rem;
    width: 100%;
    height:7rem;
    z-index: 10;
}

.projectLogoContainer {
    padding: .5rem;
    height: 4rem;
    width: 10rem;
}

.projectLogo {
    width: 100%;
}

.right-head-nav a {
    padding: .5rem;
    color: var(--midTextColor);
    font-size: large;
    font-weight: 500;
}

.right-head-nav a:nth-child(2) {
    color: var(--blueText);
}

.right-head-nav button {
    margin-left: 2.5rem;
    font-size: medium;
    font-weight: 500;
    margin: 1rem;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.second-section {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    padding: 8rem 2rem;
}

.left-second-section {
    max-width: 50rem;
    padding-right: 1rem;
    margin-right: 3rem;
}

.left-second-section h1 {
    font-size:xxx-large;
    font-weight: 500;
    margin-bottom: 1rem;
}
.left-second-section p {
    font-weight: 400;
    color: var(--midTextColor);
    margin-bottom: 1.5rem;
}
.playButton {
    width:9rem;
    font-size: medium;
    font-weight: 300;
}

.playButton i{
    margin-right: .5rem;
    border-radius: 30rem;
}

.left-second-section span {
    padding-left: 1rem;
    color: var(--blueText);
    font-size: large;
    font-weight: 700;
}

/* //////////////////////////// */
.right-second-section {
    max-width: 50rem;
}
.brandGrid {
    margin-right: 1rem;
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(9, 3.6rem);
    grid-template-rows: repeat(6, 4.9rem);
    gap: .2rem;
    place-items: start center ;
}

.brandGrid :hover {
        -webkit-transform: scale(1.04);
        -moz-transform:    scale(1.04);
        -o-transform:      scale(1.04);
        -ms-transform:     scale(1.04);
    }

.img-container {
    height: 5.5rem;
    width: 5.5rem;
    box-shadow: 0rem 0rem 1rem .25rem rgb(190, 188, 188);
    border-radius: 25rem;
    text-align: center;
    padding-top: .5rem;
    background-color: white;   
}


.brandGrid img { 
    width: 70%;
    border-radius: .45rem;
}

.gOne {
    grid-column: 1/3;
    grid-row: 1/1;
    height: 3.75rem;
    width: 3.75rem;

}

.paypal {
    grid-column: 1/2;
    grid-row: 3/5;
    place-self: center start;   
}

.gTwo {
    grid-column: 3/5;
    grid-row: 5/5;
    height: 3.75rem;
    width: 3.75rem;
    place-self: start center;

}

.atlassian {
    grid-column: 3/5;
    grid-row: 1/1;
    place-self: start end;
}


.weave {
    grid-column: 5/8;
    grid-row: 3/5;
    place-self: center start;
}

.asana {
  grid-column: 8/9;   
  grid-row: 1/2;
  place-self: start start;
}

.calendar {
  grid-column: 8/9;   
  grid-row: 5/7;
  place-self: center start;
}

/* ///////////////////////////////////////////// */
.third-section {
    margin-top: 6rem;
    text-align: center;
    
}
.third-section h1 {
    font-weight: 700;
}

.third-section p {
    font-weight: 500;
    color: var(--midTextColor);
    margin-bottom: 1.5rem;
}

/* /////////////////////////////////////// */

.fourth-section {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;

}

.fourth-section-flex {
    justify-content:space-around;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    width: 100%;
}

.fourth-section-card {
    margin-top: 1rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    width: 13.625rem;
    height: 19.375rem;
    box-shadow: 0rem 0rem 1rem .25rem rgb(190, 188, 188);
}

.fourth-section-flex :hover{
    -webkit-transform: scale(1.04);
    -moz-transform:    scale(1.04);
    -o-transform:      scale(1.04);
    -ms-transform:     scale(1.04);
}

.fourth-section-image-container {
    height: 2rem;
    width: 3rem;
}

.fourth-section-image-container img {
    width: 100%;
}

.fourth-section-card h3 {
    /* line-height: 0px; */
    padding-bottom: 1rem;
    margin-bottom: 0rem;
}

.fourth-section-card p {
    line-height: 1.5rem;
    padding-top: 0rem;
    margin-top: 0rem;
    font-weight: 400;
    color: var(--midTextColor);
    margin-bottom: 1.5rem;
}

.fourth-section-card a {
    padding-top: 0rem;
    margin-top: 0rem;
    color: var(--blueText);
    font-size: large;
    font-weight: 700;
}
.sketch-button {
    height: 1.4375rem;
    width: 3.75rem;
    margin-left: .5rem;
    background-color: rgb(80, 207, 165);
    font-size: .75rem;
    font-weight: 700;
    padding: .25rem .625rem;
}

/* ///////////////////////////////////////// */

.fifth-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0rem 0rem 2rem;
    align-content: center;
    justify-content:center;
    width: 100%;
    margin-top: 2rem;
    margin-left: 0rem;
    margin-right: 2rem;

}

.fifth-section-flex {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(244, 244, 252);
    margin-right: 2rem;
    padding: 4rem 0rem 0rem 0rem;
    width: 95%;
    justify-content: space-between;

}
/* /////// */
.fifth-section-left {
    width: 40%;
    margin: 2rem 3rem 2rem 2rem;
}

/* /////// */

.fifth-section-right {
    display: flex;
    justify-content: end;
    width: 50%;
    padding-top: 2rem;

}

.banner-one-container {
    max-width: 31.5rem;
    max-height: 22.0625rem;
}

.banner-one-container img {
    width: 100%;
    height: 100%;
}

/* ///////////////////////////////////////////// */
.sixth-section {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.sixth-section-container {
    width: 35rem;
    text-align: center;
}

.sixth-section h1 {
    font-weight: 700;
}

.sixth-section p {
    font-weight: 500;
    color: var(--midTextColor);
    margin-bottom: 2rem;
}

/* /////////////////////////////////////// */

.hr-container {
    display: flex;
    justify-content: center;
}
.hr {
    width: 9rem;
}

.hr-blue {
    border-top: 1px solid blue;
    width: 9rem;
}

.seventh-section { 
    padding-left: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.seventh-section-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 18rem;
    margin: -3em 0em 2em 0em;
}

.circle {
    display: flex;
    height:5rem;
    width: 5rem;
    border-radius: 5rem;
    background-color: rgb(234, 234, 245);
    align-items: center;
    justify-content: center;
    /* margin: -2.5em 0em 0em 0em; */
    /* align-self: center; */

}

.inner-circle {
    border-style: solid;
    border-width: .2rem;
    border-color: blue;
    height:.3rem;
    width: .3rem;
    border-radius: 5rem;
    background-color: blue;
}


/* /////////////////////////////////////// */


.eight-section {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
}

.eigth-section-image-container {
    display: flex;
    width: 60.25rem;
    height: 25.875rem;
    background-image: url("saas-project-assets/banners/banner_two.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.375rem;
    height: 4.375rem;
    background-color: white;
    border-radius: 45rem;
    box-shadow: 0rem 0rem 1rem .25rem rgb(190, 188, 188);
}

/* /////////////////////////////////////// */

.ninth-section {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.ninth-section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 2rem;

}

.ninth-left {
    background-image: url("saas-project-assets/abstract/dots.svg");
    background-repeat: no-repeat;
    padding-left: 4rem;
    padding-bottom: 3.5rem;
    padding-right: 4rem;
}

.ninth-left-image-container {
    width: 23.188rem;
    height: 26.563rem;
}

.ninth-left-image-container img{
    width: 100%;
}

.ninth-right {
    display: flex;
    flex-direction: column;
    width: 30.125rem;
    justify-content: center;
}

.ninth-right-image-container {
    width: 6.25rem;
    height: 1.472rem;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

.ninth-right-image-container img{
    width: 100%;
    
}

.ninth-right p{
    width: 30.125rem;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.ninth-right :nth-child(3){
    width: 30.125rem;
    font-size: 1rem;
    line-height: 0rem;
    margin-bottom: .4rem;
}

.ninth-right :nth-child(4){
    width: 30.125rem;
    font-size: .79rem;
    font-weight: 600;
    color: var(--midTextColor);
    line-height: 0rem;
}

/* /////////////////////////////////////// */

.tenthSection {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem;
    }

.tenthSection p {
    font-weight: 700;
    font-size: 1rem;
    color: var(--midTextColor);
}

/* /////////////////////////////////////// */

.eleventh-section{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
}

.eleventh-section-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.eleventh-logo-container {
    width: 6.721rem;
    height: 2.508125rem;
}

/* /////////////////////////////////////// */


.twelfth-section {
    text-align: center;
    width: 100%;
    margin: 4rem 0rem 4rem 0rem;
}

.twelfth-section h2 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.twelfth-section p {
    font-weight: 500;
    color: var(--midTextColor);
    margin: .5rem;
    padding: 0;
}


/* /////////////////////////////////////// */

.tirteenth-section {
    display: flex;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .thirteenth-left {

    }

        .tirteenth-left-card {
            display: flex;
            flex-direction: column;
            width:23.125rem;
            padding: 2rem ;
            align-items: flex-start;
            box-shadow: 0rem 1rem 1rem .25rem rgb(190, 188, 188);
        }

                .tirteenth-left-card-top  {
                    display: flex;
                    align-items: flex-end;
                    line-height: 0%;
                    border-bottom: .07rem solid rgb(190, 188, 188);
                    width: 100%;
                    padding: 2rem 0rem;
                }

                        .tirteenth-left-card-top h1 {
                            font-weight: 600;
                        }
                        .tirteenth-left-card-top p {
                            color: var(--midTextColor);
                        }
                        
                        
                        .tirteenth-left-card-bottom{}
                        
                        .tirteenth-left-card-bottom p {
                            font-size: 1rem;
                            font-weight: 500;
                            color: var(--midTextColor);
                            margin-bottom: 2rem;
                            line-height: 1.5rem;
                            
                        }

                        button {
                            margin-top: 1rem;
                        }

                        .tirteenth-left-card-bottom p:nth-child(3) {
                            font-size: .75rem;
                            font-weight: 500;
                            color: var(--midTextColor);
                            margin-bottom: 2rem;
                            line-height: .9075rem;
                            
                        }

.thirteenth-section-grid {
    display: grid;
    grid-template-columns: 16.4375rem 16.4375rem;
    grid-template-rows: 15.0625rem 15.0625rem;
    padding: 0rem 2rem;
}

    .grid-container{
        display: flex;
        flex-direction: column;
        padding: 1.25rem;
        gap:1.25rem
    }

        .thirteenth-right-img-container {
            width: 2rem;
            height: 2rem;
            margin-bottom: 0rem;
            padding-bottom: 0rem;

        }
                .thirteenth-right-img-container img {
                    width: 100%;
                }

        .grid-container h2 {
            font-size: 1.125rem;
            margin-bottom: 0rem;
            
        }

        .grid-container p {
            font-size: .875rem;
            margin-top: 0rem;
        }
    
    .grid-container-header{
        display: flex;
        margin-top: -1rem;
        padding-top: 0rem;
    }