:root {
    --lightBlueBackgroung:rgb(234, 234, 245);
    --midTextColor: rgb(122, 121, 121);
    --blueText: rgba(32, 109, 209, 0.925);
    --blueButton: rgb(53, 112, 241);
    --12px:0.75rem;
    --14px: 0.875rem;
    --16px: 1rem;
    --16_94px:1.059rem;
    --18px:1.125rem;
    --20px:1.25rem;
    --22px: 1.375rem;
    --26px:1.625rem;
    --40px: 2.5rem;
    --50px: 3.125rem;
}

.font1 {
    font-weight: 500;
    font-size: var(--14px);
    color: var(--midTextColor);
}

.font2 {
    font-weight: 510;
    font-size: var(--14px);
    color: var(--midTextColor);
}

.font3 {
    font-weight: 700;
    font-size: var(--14px);
    color:var(--blueText);
}

.font4 {
    font-size: var(--26px);
    font-weight: 700;
}

.font5 {
    font-size: var(--16px);
    font-weight: 500;
    color: var(--midTextColor);
}

.font6 {
    font-size: var(--16px);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}    

body {
    margin: 0;
    width: 100%;
    
}    

a {
    text-decoration: none ;
}    

body a:hover {
    color: var(--blueText);
}

button {
    height:3.25rem;
    width: 7rem;
    border-radius: 2rem;
    color: white;
    background-color: var(--blueButton);
    border-style: none;  
}   


li {
    list-style: none;
}

.playButton {
    width:9rem;
    font-size: medium;
    font-weight: 300;
}

.sketch-button {
    height: 1.4375rem;
    width: 3.75rem;
    margin-left: .5rem;
    background-color: rgb(80, 207, 165);
    font-size: var(--12px);
    font-weight: 700;
    padding: .25rem .625rem;
}

img {
    width: 100%;
}

.page-container {
    /* position: relative; */
    height: 100vh;   
    background-image: url("saas-project-assets/project_logo/topSection.svg");
    background-repeat: no-repeat;
    background-size: contain;
}    

/* ////////////////////////////////////// */
  
